<app-channel-select (create)="createRequest()" (view)="viewRequest($event)"></app-channel-select>
<app-channel-view *ngIf="mode === ChannelMode.VIEW" [channel_data]="channelData" (onEditRequest)="editRequest($event)"></app-channel-view>
<!-- <app-channel-edit *ngIf="mode === ChannelMode.EDIT && channelData" [channel]="channelData" (onEditSuccessful)="viewRequest($event)"></app-channel-edit> -->

<app-view-channel-playlists *ngIf="mode === ChannelMode.VIEW && channelData" [channelId]="channelData.id"></app-view-channel-playlists>